@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  padding: 50px;
}

.modal-btn {
  padding: 7px 15px;
  font-size: 18px;
  font-weight: 500;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 2px;
  transition: all 0.3s;
}

.modal-btn:active {
  transform: scale(0.94);
}

.modal {
  width: 500px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -150%);
  overflow: hidden;
  transition: all 0.3s;
}

.modal.active {
  transform: translate(-50%, 5%);
}

.modal-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.1);
}

.modal-top i {
  font-size: 25px;
  transition: all 0.3s;
}

.modal-top i:active {
  transform: scale(0.92);
}

.modal-content {
  padding: 15px;
}
